
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}


.calendar-container {
	position: relative;
	width: 450px;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #222;
	color: #fff;
	padding: 3em 2em;
}

.day {
	font-size: 7em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}

.page-back{
  width: 3em;
  height: auto;
}

.show{
  float:left;
  width: 2em;
  height: auto;
  margin-left: 0.5em;
}

.clipicon{
  float:left;
  width: 2em;
  height: auto;
  margin-left: 0.5em;
}

.clipboard{
  text-align:left;
  margin: -0.3em 0 0 0;
}

.calendar {
	background: #000;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #222;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #222;
	color: #fff;
	display: inline-block;
	padding: 1.8em;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #111;
}

.current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #555;
}

.ring-left,
.ring-right {
	position: absolute;
	top: 230px;
}

.ring-left { left: 2em; }
.ring-right { right: 2em; }

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255,0.4); 
}

#twitter {
  height: 450px;
  color: #fff;
}

.tweet div{
  display:inline-block;
  vertecal-align:middle;
}
.tweet {
  margin: 2em 0 0 0 ;
}

.tweet img.icon{
  width: 2em;
  height: 2em;
  margin: 0 0 0 0.1em;
}

.tweet div.text{
  margin: -0.5em 0 0 2.1em;
}

.tweet div.name {
  font-size: 0.95em;
}
.tweet div.screen_name {
  color: #666;
  font-size: 0.8em;
  margin: 0 0 0 2px ;
}

.tweet div.cliant {
  color: #666;
  font-size: 0.4em;
  margin: -1em 0 0 2.1em ;
}

.tweet div.timer{
  float:right;
  color: #666;
  font-size: 0.8em;
  margin: 0 0 0 5em;
}

.mediaBox {
  margin: 0 0 0 2em;
}
.media {
  width: auto;
  height: 6em;
}
